/****************/
/* MOBILE FIRST */
/****************/

/*Container*/
.Container {
	display: inline-block;
	width: 100%;
	min-height: calc(100vh - 121px);

	padding: 35px;
	text-align: center;

	position: relative;
}

/************************************/

.Section {
	display: inline-block;
	width: 100%;
	max-width: 1000px;
	max-width: 1026px;
	text-align: left;
}

.Title {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 43px;
	padding-left: 13px;
}
